<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkdQfxf9gsfXYTQL8Z8PadHsncvWYw3HI</string>
	<key>GCM_SENDER_ID</key>
	<string>91870534065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moment.mobile</string>
	<key>PROJECT_ID</key>
	<string>moment-aad8b</string>
	<key>STORAGE_BUCKET</key>
	<string>moment-aad8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91870534065:ios:cc58b3cb11b4e26f178590</string>
</dict>
</plist>